@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Roboto:ital@0;1&family=Tangerine&display=swap');

.navbar {
    background-color: #53b8f7;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    font-family: 'BadoniModa';
}